
.AddQuestions {
  text-align: center;
  width: 100% ;
  background-color: white;
  box-shadow: 2px 2px 2px #ccc;
  border-radius: 10px;
  padding: 10px;
  transition: 1s all !important;
  min-height: var(--heigthinsideDashboard);
}
.AddQuestions p:first-child {
  font-size: 20px;
  font-weight: 400;
  border: none !important;
}
.AddQuestions p:not(:first-child) {
  width: 18%;
  border-radius: 20px;
  margin: 15px auto;
  border: 1px solid #777;
  padding: 5px 3px;
  font-weight: 400;
  transition: 0.3s all;
}

.AddQuestions p:not(:first-child):hover {
  background-color: rgb(116, 115, 115);
}
.check {
  background-color:rgb(71, 70, 70);;
  color: white;
  transform: translateX(10px);
}
