.collfooter {
  width: 100%;
  margin-top: 200px;
  background-color: var(--btnNavbar);
}
.footer {
  width: 90%;
  margin: auto;
}

.footer .second {
  padding: 20px 0;
}
.centerNavbarr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.centerNavbarr ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}
.centerNavbarr ul li,
.centerNavbarr ul li a {
  transition: 0.3s all;
  color: var(--ulNavbar);
  font-size: 13px;
  text-decoration: none;
  font-weight: 500;
}

.centerNavbarr ul li:hover,
.centerNavbarr ul li a:hover {
  color: white;
}
.centerNavbarr ul li {
  height: 100%;
  font-size: 20px;
}
@media (max-width: 900px) {
  .centerNavbarr {
    flex-direction: column;
  }
  .centerNavbarr ul{
    align-items: center;
  }
}
