.ResponseUser {
  text-align: center;
  width: 95%;
  margin: auto;
  padding: 10px;
  transition: 1s all !important;
  min-height: var(--heigthinsideDashboard);
}
.ResponseUser > h4 {
  margin-bottom: 30px;
}
.response {
  text-align: start;
  margin-bottom: 15px;
}
.divResponseUser{
  padding: 10px;
}
